<html>
  <body>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th><%= Book.model_name.human %></th>
          <th><%= I18n.t('activerecord.models.attributes.from') %></th>
          <th><%= I18n.t('activerecord.models.attributes.to')  %></th>
        </tr>
      </thead>
    
      <tbody>
          <tr>
            <td><%= @rent.id %></td>
            <td><%= @book.title %></td>
            <td><%= @rent.from %></td>
            <td><%= @rent.from %></td>
          </tr>
      </tbody>
    </table>  
</body>
</html>